version: 2

templates:
  golang-template: &golang-template
    docker:
      - image: uroottest/test-image-amd64:v3.2.13
    working_directory: /go/src/github.com/hugelgupf/p9
    environment:
      - GOPATH: "/go"
      - CGO_ENABLED: 0
      # Double all timeouts for QEMU VM tests since they run without KVM.
      - UROOT_QEMU_TIMEOUT_X: 2
      - GO111MODULE: "off"

workflows:
  version: 2
  build:
    jobs:
      - build

jobs:
  build:
    <<: *golang-template
    steps:
      - checkout
      - run: go env
      - run: go get -v -t -d github.com/u-root/u-root
      - run: go get -v -d ./...
      - run: GO111MODULE=on go mod vendor
      - run: go test -timeout 15m -v ./...
      - run: CGO_ENABLED=1 go test -race -timeout 15m -v ./...
      - run: |
          go get github.com/mitchellh/gox

          # Exclude darwin/arm(64?) and dragonfly/386
          gox -osarch="darwin/amd64 dragonfly/amd64 plan9/amd64" ./...
          gox -os="windows linux freebsd netbsd openbsd solaris" -arch="386 amd64 arm arm64 ppc64 ppc64le s390x mips mipsle mips64 mips64le" ./...
